[submodule "lib/aave-v3-origin"]
	path = lib/aave-v3-origin
	url = https://github.com/bgd-labs/aave-v3-origin
	branch = v3.7
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/aave-dao/aave-helpers
	branch = main
